header{
	text-align: center;
	background-color:#87cefa;
}
footer{
	background-color:#87cefa;
	width: 1000px;
	margin-left: auto ;
	margin-right: auto ;
	overflow:hidden;
	text-align: center;
}
#hawk{
	margin: 10px;
	float: left;
}
#avg{
	margin: 10px;
	float: left;
}
#pat{
	margin: 10px;
	float: left;
}
#main{
	background-color:#87cefa;
}
#response{
	text-align: center;
}
#betting{
	text-align: center;
}
body{
	background-color:#87cefa;
}
img.triv{
	background: url(images/trivia.gif);
    transform: rotate(-15deg);
	top: 5%;
	left: 20%;
}
img.bosspic{
	background: url(images/boss.gif);
	transform: rotate(15deg);
	top: 5%;
	right: 20%;






